footer.footer
    .container
        .row
            .col-24.col-md-8
                a.footer__logo(href="/")
                    img(src="https://picsum.photos/id/237/1300/300")
            .col-24.col-md-8
                .footer__wrapper
                    ul.footer__list
                        li.footer__item
                            a(href="#") Quiénes somos
                        li.footer__item
                            a(href="#") ¿Qué hacemos?
                        li.footer__item
                            a(href="#") ¿Por dónde empiezo?
                    ul.footer__list
                        li.footer__item
                            a(href="#") Atención Online
                        li.footer__item
                            a(href="#") Blog obesidad
                        li.footer__item
                            a(href="#") Preguntas frecuentes
            .col-24.col-md-8
                .footer__container
                    .footer__group
                        p.footer__group-title Contacto
                        ul.footer__social
                            li
                                a(href="#")
                                    i.fa.fa-facebook
                            li
                                a(href="#")
                                    i.fa.fa-instagram
                    .footer__group
                        button.footer__button solicitar turno

