header.header
    .container
        .row
            .col-24
                .header__container
                    a.header__logo(href="/")
                        img(src="")
                    .header__wrapper
                        nav.header__nav
                            ul.header__list
                                li.header__item
                                    a(href="/") home
                                li.header__item
                                    a(href="/nosotros") nosotros
                                li.header__item
                                    a(href="/que-hacemos") ¿qué hacemos?
                                li.header__item
                                    a(href="/por-donde-empiezo") ¿por dónde empiezo?
                                li.header__item
                                    a(href="/atencion-online") atención online
                                li.header__item
                                    a(href="/obesidad") obesidad
                                li.header__item
                                    a(href="/contacto") contacto
                        a(href="tel:+5491158152998" target="_blank").header__phone
                            i.fa.fa-whatsapp
                            span +5491158152998
                        .header__hamburguer
                            span
                            span
                            span







