mixin article(article)
    .article
        a.article__image(href="#")
            img(src=article.image)
        .article__content
            span.article__date=article.date
            a.article__title(href="#")=article.title
            p.article__text=article.text
            .article__wrapper
                a.article__show-article(href="#") ver artículo
                button.article__share Compartir
                    i.fa.fa-plus