mixin article(article)
    .article
        .article__image
            img(src=article.image)
        .article__content
            span.article__date=article.date
            h3.article__title=article.title
            p.article__text=article.text
            .article__wrapper
                a.article__show-article(href="#") ver artículo
                button.article__share Compartir
                    i.fa.fa-plus