mixin faq()
    .faq  
        .faq__wrapper
            .faq__question
                .faq__plus-icon
                    span.horizontal
                    span.-vertical
                .faq__question-text 1. ¿Qué debo realizar previo a la cirugía?
            .faq__answer
                .faq__answer__group
                    img(src="/images/donde-empiezo/icon-1.png")
                    p Evaluación psicológica

                .faq__answer__group
                    img(src="/images/donde-empiezo/icon-2.png")
                    p Laboratorio de sangre

                .faq__answer__group
                    img(src="/images/donde-empiezo/icon-3.png")
                    p Electrocardiograma y evaluación cardiológica

                .faq__answer__group
                    img(src="/images/donde-empiezo/icon-4.png")
                    p Espirometría y evaluación neumonológica

                .faq__answer__group
                    img(src="/images/donde-empiezo/icon-5.png")
                    p Ecografía abddominal y hepática

                .faq__answer__group
                    img(src="/images/donde-empiezo/icon-6.png")
                    p Endoscopía del esófago y estómago

        .faq__wrapper
            .faq__question
                .faq__plus-icon
                    span.horizontal
                    span.-vertical
                .faq__question-text 2. ¿Qué resultados esperar?
            .faq__answer
                p Lorem ipsum

        .faq__wrapper
            .faq__question
                .faq__plus-icon
                    span.horizontal
                    span.-vertical
                .faq__question-text 3. ¿Mi cirugía va a ser laparoscópica?
            .faq__answer
                p Lorem ipsum

        .faq__wrapper
            .faq__question
                .faq__plus-icon
                    span.horizontal
                    span.-vertical
                .faq__question-text 4. ¿Cómo tengo que prepararme para la operación?
            .faq__answer
                p Lorem ipsum

        .faq__wrapper
            .faq__question
                .faq__plus-icon
                    span.horizontal
                    span.-vertical
                .faq__question-text 5. Reglas alimentarias generales para la cirugía
            .faq__answer
                p Lorem ipsum

        .faq__wrapper
            .faq__question
                .faq__plus-icon
                    span.horizontal
                    span.-vertical
                .faq__question-text 6. ¿Por qué evaluación y preparación psicológica?
            .faq__answer
                p Lorem ipsum

        .faq__wrapper
            .faq__question
                .faq__plus-icon
                    span.horizontal
                    span.-vertical
                .faq__question-text 7. ¿Qué se valora en las evaluaciones psicológicas?
            .faq__answer
                p Lorem ipsum
