mixin locations()
  section.locations
      h3.locations__subtitle clínicas
      h2.locations__title Donde atendemos
      .container
          .row
              .col-24.col-md-22.offset-md-1
                  .row
                      .col-24.col-md-8
                          .locations__container
                              .locations__image
                                  img(src="https://picsum.photos/id/237/300/300")
                              .locations__content
                                  h3.locations__content-title IADT - Instituto Argentino de Diagnóstico y Tratamiento
                                  p.locations__content-text Consultorios externos<br>Marcelo T. de Alvear 2439, CABA
                                  a.locations__map-link(href="#") ver mapa
                      .col-24.col-md-8
                          .locations__container
                              .locations__image
                                  img(src="https://picsum.photos/id/237/300/300")
                              .locations__content
                                  h3.locations__content-title Centro Médico Pilares
                                  p.locations__content-text Edificio Bureau Pilar<br>Panamericana Km. 49,5<br>Turnos Online
                                  a.locations__webpage(href="http://www.cmpilares.com" target="_blank") www.cmpilares.com
                                  a.locations__map-link(href="#") ver mapa
                      .col-24.col-md-8
                          .locations__container
                              .locations__image
                                  img(src="https://picsum.photos/id/237/300/300")
                              .locations__content
                                  h3.locations__content-title Consultorios Médicos Tortugas Norte
                                  p.locations__content-text Necochea G. C. 3044<br>Maunel Alberti, Buenos Aires
                                  a.locations__map-link(href="#") ver mapa
