extends _layouts/base

include ./_modules/slider/slider
include ./_modules/locations/locations

block content
    main.home
        section.home__hero
            form.home__hero__form
                h3.home__hero__form-title solicitá un turno
                .home__hero__form-group
                    input.home__hero__form-input(placeholder="Nombre y apellido")
                .home__hero__form-group
                    input.home__hero__form-input(placeholder="Email")
                .home__hero__form-group
                    input.home__hero__form-input(placeholder="Teléfono")
                .home__hero__form-group
                    input.home__hero__form-input(placeholder="País")
                .home__hero__form-group.home__hero__form-group--textarea
                    textarea.home__hero__form-input(placeholder="Consulta")
                .home__hero__form-group.home__hero__form-group--button
                    button.home__hero__form-button enviar

            +slider('home__hero__slider')
                .home__hero__slide
                    .container
                        .row
                            .col-24.col-md-22.offset-md-1
                                .row
                                    .col-24.col-md-12
                                        h4.home__hero__slide-subtitle quiénes somos
                                        h3.home__hero__slide-title Conocé nuestro equipo de profesionales
                                        button.home__hero__slide-button ver más
                .home__hero__slide
                    .container
                        .row
                            .col-24.col-md-22.offset-md-1
                                .row
                                    .col-24.col-md-12
                                        h4.home__hero__slide-subtitle quiénes somos
                                        h3.home__hero__slide-title Conocé nuestro equipo de profesionales
                                        button.home__hero__slide-button ver más
                .home__hero__slide
                    .container
                        .row
                            .col-24.col-md-22.offset-md-1
                                .row
                                    .col-24.col-md-12
                                        h4.home__hero__slide-subtitle quiénes somos
                                        h3.home__hero__slide-title Conocé nuestro equipo de profesionales
                                        button.home__hero__slide-button ver más
        section.home__links
            .container
                .row
                    .col-24.col-md-22.offset-md-1
                        .row
                            .col-12.col-md-6.home__links__col
                                a.home__links__container(href="/por-donde-empiezo")
                                    .home__links__wrapper
                                        .home__links__content
                                            img(src="/images/home/icon-imc.png")
                                            p Calcula<br>tu IMC
                                    .home__links__image
                                        img(src="/images/home/art-1.jpg")
                            .col-12.col-md-6.home__links__col
                                a.home__links__container(href="/por-donde-empiezo")
                                    .home__links__wrapper
                                        .home__links__content
                                            img(src="/images/home/icon-start.png")
                                            p ¿Dónde<br>empiezo?
                                    .home__links__image
                                        img(src="/images/home/art-2.jpg")
                            .col-12.col-md-6.home__links__col
                                a.home__links__container(href="/atencion-online")
                                    .home__links__wrapper
                                        .home__links__content
                                            img(src="/images/home/icon-headset.png")
                                            p Atención<br>Online
                                    .home__links__image
                                        img(src="/images/home/art-3.jpg")
                            .col-12.col-md-6.home__links__col
                                a.home__links__container(href="/obesidad")
                                    .home__links__wrapper
                                        .home__links__content
                                            img(src="/images/home/icon-help.png")
                                            p ¿Qué es<br>la obesidad?
                                    .home__links__image
                                        img(src="/images/home/art-4.jpg")
        .container
            .row
                .col-24.col-md-22.offset-md-1
                    +locations()

        section.home__testimonios
            .home__testimonios__background
                img(src="/images/home/reviews-bg.jpg")
            +slider('home__testimonios__slider')
                .home__testimonios__slide
                    .home__testimonios__wrapper
                        h3.home__testimonios__slide-title testimonios
                        p.home__testimonios__slide-text "Me anime a cambiar y descubrí que merecía ser felíz"
                        p.home__testimonios__slide-name Roxana Alejandra Espinola, 46 años

                .home__testimonios__slide
                    .home__testimonios__wrapper
                        h3.home__testimonios__slide-title testimonios
                        p.home__testimonios__slide-text "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
                        p.home__testimonios__slide-name Roxana Alejandra Espinola, 46 años

                .home__testimonios__slide
                    .home__testimonios__wrapper
                        h3.home__testimonios__slide-title testimonios
                        p.home__testimonios__slide-text "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
                        p.home__testimonios__slide-name Roxana Alejandra Espinola, 46 años

                .home__testimonios__slide
                    .home__testimonios__wrapper
                        h3.home__testimonios__slide-title testimonios
                        p.home__testimonios__slide-text "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
                        p.home__testimonios__slide-name Roxana Alejandra Espinola, 46 años
